#encab{
    text-align: center;
    font-size: 24px;
    color: blue;
}
ul{
    display: inline-block;
    float: left;
    width: 12%;
    font-size: 20px;
    color: darkmagenta;
}
figure{
    display: inline-block;
    margin: 6px;
    padding: 4px;
    width: 25%;
}